@{
  Layout = "_Layout";
}
@using Factory.Models;
@model Factory.Models.Machine

<div class="container">
<h2>Are you sure you want to remove this assigned engineer from this machine?</h2>

<p>Machine: @Html.DisplayFor(model => model.Name)</p>

@using (Html.BeginForm())
{
@foreach(var join in Model.JoinEntities)
{
  @Html.Hidden("joinId", @join.EngineerMachineId)

}

<input type="submit" value="Delete" class="btn btn-primary"/>
}
@Html.ActionLink("Back to list", "Index")
</div>