@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Engineer

<h2>Are you sure you want to remove this machine from this engineer's assignment?</h2>

<p>Engineer: @Html.DisplayFor(model => model.Name)</p>
@foreach(var join in Model.JoinEntities)
{
  <li>@join.Machine.Name</li>
}

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-primary"/>
}
@Html.ActionLink("Back to list", "Index")